<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="designpattern.jun.com.designpattern">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="设计模式列表">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FactoryPatttern.SimpleFactory.SimpleFactoryMactivity"
            android:label="简单工厂模式"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SingleTon.SingleTonActivity"
            android:label="单例模式"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Strategy.StrategyActivity"
            android:label="策略模式"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Proxy.AIDL.AidlActivity"
            android:label="代理模式--远程代理"
            android:screenOrientation="portrait">

        </activity>

        <service android:name=".Proxy.AIDL.AIDLRemoteService"
            ></service>
        <activity android:name=".Observer.CustomEventBus.CustomBusActivity"
            android:label="观察者模式--自定义EventBus"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Builder.software_development.SoftWareDevActivity"
            android:label="建造者模式--软件开发"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>